@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TestGenerator.DAL.Models.Test
@{
  ViewData["Title"] = "Add";
}

<form asp-action="Add" method="post">
  <div class=" justify-content-center">
    <div class="form-floating mb-3 col-sm-4">
      <input asp-for="Name" class="form-control" />
      <label asp-for="Name">Name</label>
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 col-sm-4">
      <input asp-for="Description" class="form-control" />
      <label asp-for="Description">Description</label>
      <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 col-sm-4">
      <input asp-for="NumberOfQuestions" class="form-control" />
      <label asp-for="NumberOfQuestions">Number of Questions</label>
      <span asp-validation-for="NumberOfQuestions" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3 col-sm-4">
      <input asp-for="NumberOfAnswersPerQuestion" class="form-control" />
      <label asp-for="NumberOfAnswersPerQuestion">Number of Answers per Question</label>
      <span asp-validation-for="NumberOfAnswersPerQuestion" class="text-danger"></span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Create Test</button>
</form>
