@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex flex-column align-items-center justify-content-center text-center my-5">
  <h1 class="p-2 m-2 login-header">Test Generator</h1>
  <p class="p-1 m-2 w-75">A web app that will help professors, teachers, educators to create multiple choice tests for students. This application is part of my dissertation thesis for E-Business, Information Economics, Babeș-Bolyai University.</p>
</div>

<section class="container-fluid d-flex justify-content-center">
  <div class="row d-flex flex-md-row flex-column align-items-center justify-content-evenly g-2">

    <div class="col-6 order-md-1 order-2 p-3">
      <div class="text-center">
        <img src="~/images/home-page-image.svg" class="rounded img-fluid mx-auto d-block" height="500" width="500" alt="..."/>
      </div>
    </div>

    <div class="col-6 order-1 p-3">
      <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-floating mb-3">
          <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
          <label asp-for="Input.Email">Email</label>
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
          <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
          <label asp-for="Input.Password">Password</label>
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
          <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
          <label asp-for="Input.ConfirmPassword">Confirm Password</label>
          <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="row">
          <div class="col">
            <button id="registerSubmit" type="submit" class="btn btn-primary form-control">Register</button>
          </div>
          <div class="col">
            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-success form-control">Back to Login</a>
          </div>
        </div>

      </form>
    </div>
  </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
