@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TestGenerator.DAL.Models.Test
@{
    ViewData["Title"] = "Generate";
}

<div class="text-center">
  <h1 class="display-4">Word Upload</h1>
</div>

<form asp-action="Generate" asp-controller="TestGenerator" method="post" enctype="multipart/form-data">
  <div class="form-floating mb-3 col-sm-6">
    <input asp-for="Name" class="form-control" placeholder="Name"/>
    <label asp-for="Name">Name</label>
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-floating mb-3 col-sm-6">
    <input asp-for="Description" class="form-control" placeholder="Description"/>
    <label asp-for="Description">Description</label>
    <span asp-validation-for="Description" class="text-danger"></span>
  </div>
  <div class="form-floating mb-3 col-sm-6">
    <input asp-for="NumberOfQuestions" class="form-control" placeholder="5"/>
    <label asp-for="NumberOfQuestions">Number of Questions</label>
    <span asp-validation-for="NumberOfQuestions" class="text-danger"></span>
  </div>
  <div class="form-floating mb-3 col-sm-6">
    <input asp-for="NumberOfAnswersPerQuestion" class="form-control" placeholder="5"/>
    <label asp-for="NumberOfAnswersPerQuestion">Number of Answers per Question</label>
    <span asp-validation-for="NumberOfAnswersPerQuestion" class="text-danger"></span>
  </div>
  <div class="col-md-6 mb-3">
    <label for="file">Upload File</label>
    <input type="file" name="file" id="file" accept=".doc,.docx" required/>
  </div>
  <div class="col-md-6 mb-3">
    <button type="submit" class="btn btn-primary">Create Test</button>
  </div>
  <div>
    <span>@TempData["Message"]</span>
  </div>
</form>